Repository AlphaFleet2024/MineQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: @ Build, @ Builtin, @ Documentation, @ Mapgen, @ Network, @ Script API, Code quality

Add SSAA with SSIM-based perceptual downscaling
  builtin/settingtypes.txt
  client/shaders/second_stage/opengl_fragment.glsl
  client/shaders/ssaa_ssim_based_1/opengl_fragment.glsl
  client/shaders/ssaa_ssim_based_1/opengl_vertex.glsl
  client/shaders/ssaa_ssim_based_2/opengl_fragment.glsl
  client/shaders/ssaa_ssim_based_2/opengl_vertex.glsl
  client/shaders/ssaa_ssim_based_3/opengl_fragment.glsl
  client/shaders/ssaa_ssim_based_3/opengl_vertex.glsl
  src/client/render/secondstage.cpp
  src/client/shader.cpp
Labels: @ Builtin

Minor code improvements
  src/gui/touchscreeneditor.cpp
  src/gui/touchscreenlayout.cpp
Labels: none

Extract grab_gui_element into new irr_gui_ptr.h
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
  src/irr_gui_ptr.h
Labels: none

Try to improve anchor selection
  src/gui/touchscreenlayout.cpp
Labels: none

Avoid pause menu overflowing vertically
  src/client/game.cpp
Labels: none

remove assertion in ButtonMeta::setPos, reduce potential impact of imprecision
  src/gui/touchscreeneditor.cpp
  src/gui/touchscreenlayout.cpp
Labels: none

Remove unused ButtonMeta::scale for now
  src/gui/touchscreeneditor.cpp
  src/gui/touchscreenlayout.cpp
  src/gui/touchscreenlayout.h
Labels: none

Redo layout format to make it handle screen size / DPI changes
  src/gui/touchcontrols.cpp
  src/gui/touchscreeneditor.cpp
  src/gui/touchscreeneditor.h
  src/gui/touchscreenlayout.cpp
  src/gui/touchscreenlayout.h
Labels: none

Don't take non-existent buttons into account for grid layout + cleanup
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
  src/gui/touchscreeneditor.cpp
Labels: none

The touchscreen layout editor
  builtin/mainmenu/settings/dlg_settings.lua
  doc/menu_lua_api.md
  src/client/game.cpp
  src/defaultsettings.cpp
  src/gui/CMakeLists.txt
  src/gui/mainmenumanager.h
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
  src/gui/touchscreeneditor.cpp
  src/gui/touchscreeneditor.h
  src/gui/touchscreenlayout.cpp
  src/gui/touchscreenlayout.h
  src/script/lua_api/l_mainmenu.cpp
  src/script/lua_api/l_mainmenu.h
  textures/base/pack/down.png
  textures/base/pack/jump_btn.png
Labels: @ Build, @ Builtin, @ Documentation

Font escape sequence for nametags
  builtin/common/misc_helpers.lua
  doc/lua_api.md
  games/devtest/mods/testentities/visuals.lua
  src/client/CMakeLists.txt
  src/client/camera.cpp
  src/client/font_enriched_string_composite.cpp
  src/client/font_enriched_string_composite.h
  src/client/fontengine.h
Labels: @ Build, @ Builtin, @ Documentation

Add "supertip" formspec element
  doc/lua_api.md
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
  src/gui/guiHyperText.cpp
  src/gui/guiHyperText.h
Labels: @ Documentation

Supertip: Make static position argument mandatory
  doc/lua_api.md
  games/devtest/mods/testformspec/formspec.lua
  src/gui/guiFormSpecMenu.cpp
Labels: @ Documentation

Fix segfault if invalid arg in supertip element
  src/gui/guiFormSpecMenu.cpp
Labels: none

Allow to bind supertip to a formspec element
  doc/lua_api.md
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: @ Documentation

Document supertip border default as true
  doc/lua_api.md
Labels: @ Documentation

Fix delay on bound supertips
  src/gui/guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.h
Labels: none

DevTest: Add test for supertip formspec element
  games/devtest/mods/testformspec/formspec.lua
Labels: none

DevTest: Add tests for element-bound tooltips
  games/devtest/mods/testformspec/formspec.lua
Labels: none

Fix supertip flicker; enable supertip border
  src/gui/guiHyperText.cpp
  src/gui/guiHyperText.h
Labels: none

Fix positioning of dynamic supertips
  src/gui/guiFormSpecMenu.cpp
Labels: none

Clean up supertip documentation
  doc/lua_api.md
Labels: @ Documentation

Remove noclip from supertip style documentation
  doc/lua_api.md
Labels: @ Documentation

Tweak indent levels in guiFormSpecMenu.cpp
  src/gui/guiFormSpecMenu.cpp
Labels: none

Coding style fix in guiHyperText.cpp
  src/gui/guiHyperText.cpp
Labels: none

DevTest: Add tests for supertip styling
  games/devtest/mods/testformspec/formspec.lua
  games/devtest/mods/testformspec/textures/testformspec_tooltip_style_bg.png
Labels: none

Supertips: Specify width as 'em' units
  doc/lua_api.md
  games/devtest/mods/testformspec/formspec.lua
  src/gui/guiFormSpecMenu.cpp
Labels: @ Documentation

Supertip: Fix insecure &getText
  src/gui/guiHyperText.cpp
  src/gui/guiHyperText.h
Labels: none

Remove redundant parameter in guiHyperText
  src/gui/guiHyperText.cpp
  src/gui/guiHyperText.h
Labels: none

Client: Extend [combine modifier with optional width parameter
  doc/lua_api.md
  src/client/imagesource.cpp
  src/network/networkprotocol.cpp
Labels: @ Documentation, @ Network

Allow mods to force-show the crosshair on touchscreen for bows etc.
  doc/lua_api.md
  src/client/game.cpp
  src/hud.cpp
  src/hud.h
  src/player.cpp
  src/script/lua_api/l_object.cpp
Labels: @ Documentation

ContentDB: Add reviews tab
  LICENSE.txt
  builtin/async/mainmenu.lua
  builtin/mainmenu/content/contentdb.lua
  builtin/mainmenu/content/dlg_package.lua
  textures/base/pack/contentdb_neutral.png
  textures/base/pack/contentdb_thumb_down.png
  textures/base/pack/contentdb_thumb_up.png
Labels: @ Builtin

Deletion
  src/unittest/test_k_d_tree.cpp
  src/util/k_d_tree.h
Labels: Code quality

Dynamic k-d-tree firstest draft
  src/unittest/CMakeLists.txt
  src/unittest/test_k_d_tree.cpp
  src/util/k_d_tree.h
Labels: @ Build, Code quality

let there be fix
  src/util/k_d_tree.h
Labels: none

Add failing test
  src/unittest/test_k_d_tree.cpp
  src/util/k_d_tree.h
Labels: Code quality

hook the thing up
  irr/include/vector3d.h
  src/server/activeobjectmgr.cpp
  src/server/activeobjectmgr.h
  src/server/luaentity_sao.cpp
  src/server/player_sao.cpp
  src/server/player_sao.h
  src/server/serveractiveobject.cpp
  src/server/serveractiveobject.h
  src/serverenvironment.cpp
  src/serverenvironment.h
Labels: none

Update benchmark to include very large case
  src/benchmark/benchmark_activeobjectmgr.cpp
Labels: none

Some cleanup, add brief explanation
  src/util/k_d_tree.h
Labels: none

Eliminate risk of unwanted wraparound
  src/util/k_d_tree.h
Labels: none

.github/labeler.yml:

"@ Build":
  - .gitlab-ci.yml
  - .github/**
  - CMakeLists.txt
  - src/CMakeLists.txt
  - src/*/CMakeLists.txt

"@ Builtin":
  - builtin/**

"@ Documentation":
  - doc/**

"@ Mapgen":
  - src/mapgen/**

"@ Network":
  - src/network/**

"@ Script API":
  - src/script/scripting_server.*
  - src/script/cpp_api/*

"Code quality":
  - src/unittest/**
