Repository AlphaFleet2024/MineQuest, changes with the labels that .github/labeler.yml gives for each.
All labels: @ Build, @ Builtin, @ Documentation, @ Mapgen, @ Network, @ Script API, Code quality

.github/labeler.yml:

"@ Build":
  - .gitlab-ci.yml
  - .github/**
  - CMakeLists.txt
  - src/CMakeLists.txt
  - src/*/CMakeLists.txt

"@ Builtin":
  - builtin/**

"@ Documentation":
  - doc/**

"@ Mapgen":
  - src/mapgen/**

"@ Network":
  - src/network/**

"@ Script API":
  - src/script/scripting_server.*
  - src/script/cpp_api/*

"Code quality":
  - src/unittest/**

Remove m_active_objects.size() assertions
  src/server/activeobjectmgr.cpp
Labels: none

Fix bugs
  src/activeobjectmgr.h
  src/server/activeobjectmgr.cpp
  src/util/k_d_tree.h
Labels: none

Fix yet another wraparound issue
  src/util/k_d_tree.h
Labels: none

Refactor server active object manager tests to use Catch
  src/unittest/test_serveractiveobjectmgr.cpp
Labels: Code quality

Fix potential wraparound issue
  src/util/k_d_tree.h
Labels: none

Extend unit test
  src/unittest/test_k_d_tree.cpp
Labels: Code quality

Trivial optimization for static entities
  src/server/serveractiveobject.cpp
Labels: none

stuff
  src/util/k_d_tree.h
Labels: none

Use range queries for raycasts and collisions
  irr/include/vector3d.h
  src/collision.cpp
  src/serverenvironment.cpp
Labels: none

Update comments
  src/util/k_d_tree.h
Labels: none

Use separate type for sizes
  src/util/k_d_tree.h
Labels: none

Add randomized spatial index unit testing
  src/unittest/test_serveractiveobjectmgr.cpp
Labels: Code quality

Clean up around updatePos
  src/server/activeobjectmgr.cpp
  src/server/activeobjectmgr.h
  src/server/serveractiveobject.cpp
  src/server/serveractiveobject.h
  src/serverenvironment.cpp
  src/serverenvironment.h
  src/unittest/test_serveractiveobjectmgr.cpp
Labels: Code quality

Allow non-normalized weights in glTF models
  doc/lua_api.md
  irr/src/CGLTFMeshFileLoader.cpp
  irr/src/CGLTFMeshFileLoader.h
Labels: @ Documentation

Make `core.get_node_raw` a public API
  builtin/game/item.lua
  doc/lua_api.md
Labels: @ Builtin, @ Documentation

Shorten line length in properties.lua
  games/devtest/mods/testnodes/properties.lua
Labels: none

Add per-node climb speed modifier
  doc/lua_api.md
  games/devtest/mods/testnodes/properties.lua
  src/client/localplayer.cpp
  src/client/localplayer.h
  src/nodedef.cpp
  src/nodedef.h
  src/script/common/c_content.cpp
Labels: @ Documentation

A bit climb factor cleanup
  doc/lua_api.md
  src/nodedef.cpp
Labels: @ Documentation

Don't suggest to change climb setting in lua_api
  doc/lua_api.md
Labels: @ Documentation

add /bench_bulk_get_node_raw
  games/devtest/mods/benchmarks/init.lua
Labels: none

Consider up to 2 nodes to apply climb_factor
  src/client/localplayer.cpp
Labels: none

Non-SDL: Add opengl3 support
  irr/src/CIrrDeviceLinux.cpp
  irr/src/CIrrDeviceOSX.mm
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceStub.cpp
  irr/src/CIrrDeviceStub.h
  irr/src/CIrrDeviceWin32.cpp
  irr/src/CMakeLists.txt
  irr/src/COpenGLDriver.cpp
  irr/src/OpenGL/Driver.cpp
Labels: none

Dynamic shadows: whitelist the 'opengl3' driver
  builtin/mainmenu/settings/dlg_settings.lua
  src/client/shadows/dynamicshadowsrender.cpp
Labels: @ Builtin

Fix blending
  irr/include/ISceneNode.h
  irr/include/Transform.h
  irr/src/CAnimatedMeshSceneNode.cpp
  irr/src/CAnimatedMeshSceneNode.h
Labels: none

Unfuck skeletal animation etc.
  irr/include/IAnimatedMeshSceneNode.h
  irr/include/IBoneSceneNode.h
  irr/include/ISceneNode.h
  irr/include/matrix4.h
  irr/src/CAnimatedMeshSceneNode.cpp
  irr/src/CAnimatedMeshSceneNode.h
  irr/src/CBoneSceneNode.cpp
  irr/src/CBoneSceneNode.h
  irr/src/CSkinnedMesh.cpp
  src/client/content_cao.cpp
  src/gui/guiScene.cpp
Labels: none

more unfuckening
  irr/src/CSkinnedMesh.cpp
  irr/src/CSkinnedMesh.h
Labels: none

more refucktoring
  irr/include/ISkinnedMesh.h
  irr/src/CAnimatedMeshSceneNode.cpp
  irr/src/CSkinnedMesh.cpp
  irr/src/CSkinnedMesh.h
Labels: none

refucktoring go brrr
  irr/include/IBoneSceneNode.h
  irr/include/ISkinnedMesh.h
  irr/include/Transform.h
  irr/include/quaternion.h
  irr/src/CB3DMeshFileLoader.cpp
  irr/src/CGLTFMeshFileLoader.cpp
  irr/src/CSkinnedMesh.cpp
  irr/src/CSkinnedMesh.h
  irr/src/CXMeshFileLoader.cpp
  src/unittest/test_irr_gltf_mesh_loader.cpp
Labels: Code quality

IrrlichtMt: Document Driver/Device compatibility
  irr/README.md
Labels: none

replace occurences of 'wiki.minetest.net' with 'wiki.luanti.org'
  README.md
  builtin/mainmenu/settings/generate_from_settingtypes.lua
  doc/android.md
  doc/developing/README.md
  minetest.conf.example
  misc/net.minetest.minetest.metainfo.xml
  src/server.cpp
  src/serverenvironment.cpp
Labels: @ Builtin, @ Documentation

partial
  irr/include/IrrlichtDevice.h
  irr/include/Keycodes.h
  irr/src/CIrrDeviceSDL.cpp
  src/client/inputhandler.cpp
  src/client/keycode.cpp
  src/client/keycode.h
  src/gui/guiKeyChangeMenu.cpp
  src/unittest/test_keycode.cpp
Labels: Code quality

mostly works except ESC
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceSDL.h
Labels: none

partial but compiles
  irr/include/Keycodes.h
  src/client/keycode.cpp
  src/client/keycode.h
  src/unittest/test_keycode.cpp
Labels: Code quality

special handling for AC_BACK and ESCAPE
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceSDL.h
Labels: none

switch KeyMap to unordered_map
  irr/src/CIrrDeviceSDL.cpp
  irr/src/CIrrDeviceSDL.h
Labels: none

Allow toggling between saving keycodes and scancodes
  builtin/settingtypes.txt
  src/client/keycode.cpp
  src/client/keycode.h
  src/defaultsettings.cpp
  src/gui/guiKeyChangeMenu.cpp
Labels: @ Builtin

Restore basic tests
  src/client/keycode.cpp
  src/unittest/test_keycode.cpp
Labels: Code quality

show Unicode keycodes (e.g. ü) correctly
  irr/src/CIrrDeviceSDL.cpp
  src/client/keycode.cpp
  src/client/keycode.h
  src/gui/touchcontrols.cpp
Labels: none

add scancode-syntax for keybinding settings
  irr/src/CIrrDeviceSDL.cpp
  src/client/keycode.cpp
  src/client/keycode.h
Labels: none

fix Android regression
  src/client/keycode.cpp
  src/client/keycode.h
  src/gui/touchcontrols.cpp
  src/gui/touchcontrols.h
Labels: none
